<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/style.css"/>
  </head>
  <body>
    <header class="header">
      <div class="header_wrap">
        <div class="header_topBar">
          <div class="header_topBar-top"><a class="web-link" href=""> <span>炭火燒三明治</span><img src="../../assets/images/logo/footer-logo.png" alt=""/></a>
            <div class="social-ink"><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/fb-icon.svg" alt=""/></a><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/ig-icon.svg" alt=""/></a><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/yt-icon.svg" alt=""/></a></div>
          </div>
          <div class="header_topBar-bottom"><a class="join-link" href=""> <img class="flag" src="../../assets/images/icon/header/flag.png" alt=""/><span class="mob-join-link"><i class="fas fa-store"></i>加盟</span></a></div>
        </div>
      </div>
      <div class="header_logo">
        <h1><a class="header_logo_link" href="../index/index.html" style="background: url(../../assets/images/logo/logo.png)">喜得炭火三明治</a></h1>
      </div>
      <nav class="header_nav">
        <ul class="nav">
          <li class="nav_item"><a class="color-border-primary" href="../about/about.html"><i class="fas fa-user"></i>關於我們</a></li>
          <li class="nav_item"><a class="color-border-secondary" href="../menu/menu.html"> <i class="fas fa-utensils"></i>最新菜單</a></li>
          <li class="nav_item"><a class="color-border-success" href="../news/news.html"><i class="fas fa-rss"></i>最新消息</a></li>
          <li class="nav_item"><a class="color-border-primary" href="../location/location.html"> <i class="fas fa-map-marker-alt"></i>服務據點</a></li>
          <li class="nav_item"><a class="color-border-secondary" href="../contact/contact.html"> <i class="fas fa-comments"></i>聯絡我們</a></li>
        </ul>
      </nav>
    </header>
    <footer class="footer"> 
      <div class="footer_nav">
        <div class="footer_nav_wrap"><img class="footer-logo" src="../../assets/images/logo/footer-logo.png" alt=""/>
          <div class="page-details">
            <div class="page-details_content">
              <h3>關於喜得</h3>
              <ul class="page-list">
                <li class="page-list_item"><a href="">品牌故事 </a></li>
                <li class="page-list_item"><a href=""> 里程碑</a></li>
                <li class="page-list_item"><a href=""> 安心認證</a></li>
              </ul>
            </div>
            <div class="page-details_content">
              <h3>最新消息</h3>
              <h3>每位菜單</h3>
            </div>
            <div class="page-details_content">
              <h3>門市據點</h3>
              <h3>聯絡我們</h3>
            </div>
          </div><a class="footer-join-link" href=""><img src="../../assets/images/icon/home/footer-icon.png" alt=""/></a>
        </div>
      </div>
      <div class="footer-social">
        <ul class="social-link">
          <li class="social-link_item"><a href="">Facebook </a></li>
          <li class="social-link_item phone-visible"><a href="">Instagram</a></li>
          <li class="social-link_item"><a href="">YouTube</a></li>
          <li class="social-link_item phone-visible"><a href="">喜得創業加盟網</a></li>
          <li class="social-link_item"><a href="tel:0800-386-389">創業專線 0800-386-389</a></li>
        </ul>
      </div>
    </footer>
    <script src="../../assets/javascripts/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../../assets/javascripts/script.js"></script>
  </body>
</html>