<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/style.css"/>
  </head>
  <body>
    <header class="header">
      <div class="header_wrap">
        <div class="header_topBar">
          <div class="header_topBar-top"><a class="web-link" href=""> <span>炭火燒三明治</span><img src="../../assets/images/logo/footer-logo.png" alt=""/></a>
            <div class="social-ink"><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/fb-icon.svg" alt=""/></a><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/ig-icon.svg" alt=""/></a><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/yt-icon.svg" alt=""/></a></div>
          </div>
          <div class="header_topBar-bottom"><a class="join-link" href=""> <img class="flag" src="../../assets/images/icon/header/flag.png" alt=""/><span class="mob-join-link"><i class="fas fa-store"></i>加盟</span></a></div>
        </div>
      </div>
      <div class="header_logo">
        <h1><a class="header_logo_link" href="../index/index.html" style="background: url(../../assets/images/logo/logo.png)">喜得炭火三明治</a></h1>
      </div>
      <nav class="header_nav">
        <ul class="nav">
          <li class="nav_item"><a class="color-border-primary" href="../about/about.html"><i class="fas fa-user"></i>關於我們</a></li>
          <li class="nav_item"><a class="color-border-secondary" href="../menu/menu.html"> <i class="fas fa-utensils"></i>最新菜單</a></li>
          <li class="nav_item"><a class="color-border-success" href="../news/news.html"><i class="fas fa-rss"></i>最新消息</a></li>
          <li class="nav_item"><a class="color-border-primary" href="../location/location.html"> <i class="fas fa-map-marker-alt"></i>服務據點</a></li>
          <li class="nav_item"><a class="color-border-secondary" href="../contact/contact.html"> <i class="fas fa-comments"></i>聯絡我們</a></li>
        </ul>
      </nav>
    </header>
    <main class="home">
      <section class="home_banner">
        <div class="home_banner_wrap">
          <div class="content" style="background: url(../../assets/images/upload/home/home-banner.jpeg)"><img class="banner-frame" src="../../assets/images/icon/home/banner-frame.png" alt=""/></div>
          <div class="fire-icon"><img src="../../assets/images/icon/home/fire.png" alt=""/><span>炭火!炭火!炭火燒三明治~~</span></div>
          <div class="hot-icon"><img class="jq-hot-icon1" src="../../assets/images/icon/home/hito.png" alt=""/><img class="jq-hot-icon2 d-none" src="../../assets/images/icon/home/hito2.png" alt=""/></div>
        </div>
      </section>
      <section class="home-about">
        <div class="home-about_wrap">
          <div class="title"> <img class="title-icon" src="../../assets/images/icon/home/home-about-left.png" alt=""/>
            <h2>ABOUT US</h2><img class="title-icon" src="../../assets/images/icon/home/home-about-right.png" alt=""/>
          </div>
          <div class="home-about_content">
            <div class="images"><img class="egg" src="../../assets/images/icon/home/h-about (5).png" alt=""/><img class="clip" src="../../assets/images/icon/home/h-about (4).png" alt=""/><img class="stove" src="../../assets/images/icon/home/h-about (3).png" alt=""/><img class="icon1" src="../../assets/images/icon/home/h-about (2).png" alt=""/><img class="icon2" src="../../assets/images/icon/home/h-about (6).png" alt=""/><img class="toast" src="../../assets/images/icon/home/litoast.png" alt=""/>
              <div class="box" style="background: url(../../assets/images/upload/home/home-about-img.jpg)"><img class="about-frame" src="../../assets/images/icon/home/home-about-cover.png" alt=""/></div>
            </div>
            <div class="text">
              <h4 class="subtitle">創新中堅持傳統</h4>
              <div class="paragraph">
                <p>喜得炭火燒三明治創建於 2003 年，傳承自長輩的傳統做法與一台貸款中古貨車起家。</p>
                <p>
                  在數年間，<br>歷經品質與數量均具水準的府城小吃<br>
                  經營環境的嚴酷考驗，<br>
                  在  「 創新中堅持傳統，傳統中持續創新」的理念下，<br>
                  不僅通過了府城人對味道的苛求，<br>
                  更從而將每一張挑剔的嘴轉為一方方口碑，<br>
                  口耳相傳著這淡薄著無可比擬的炭火香氣的美味! 當這樣的口碑陸續轉成網路文字，<br>
                  透過社群網絡傳散時，勇於挑戰的喜得同時<br>
                  也在準備走向新的里程碑。  
                </p>
              </div>
              <div class="more"><a href="#">查看更多 
                  <div class="arrow"><img src="../../assets/images/icon/home/arrow.png" alt=""/><img src="../../assets/images/icon/home/arrow.png" alt=""/></div></a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-menu">
        <div class="home-menu_wrap">
          <div class="title"> 
            <h2><span class="letter">M</span><span class="letter">E</span><span class="letter">N</span><span class="letter">U</span></h2><img class="title-lattice" src="../../assets/images/icon/home/h-menu (1).png" alt=""/>
          </div>
          <ul class="home-menu_slick jq-home-menu_slick">
            <li class="home-menu_slick_item"><a href=""> <img src="../../assets/images/upload/menu/menu (1).png" alt=""/>
                <div class="text">HITO好福堡</div></a></li>
            <li class="home-menu_slick_item"><a href=""> <img src="../../assets/images/upload/menu/menu (2).png" alt=""/>
                <div class="text">炭火燒三明治</div></a></li>
            <li class="home-menu_slick_item circle"><a href=""> <img src="../../assets/images/upload/menu/menu (3).png" alt=""/>
                <div class="text">義大利麵</div></a></li>
            <li class="home-menu_slick_item"><a href=""> <img src="../../assets/images/upload/menu/menu (4).png" alt=""/>
                <div class="text">喜得拌麵</div></a></li>
            <li class="home-menu_slick_item"><a href=""> <img src="../../assets/images/upload/menu/menu (1).png" alt=""/>
                <div class="text">HITO好福堡</div></a></li>
          </ul><img class="icon1" src="../../assets/images/icon/home/h-menu (3).png" alt=""/><img class="icon2" src="../../assets/images/icon/home/h-menu (2).png" alt=""/>
        </div>
      </section>
      <section class="home-news">
        <div class="home-news_wrap">
          <div class="title"> <img class="title-icon1" src="../../assets/images/icon/home/h-new (2).png" alt=""/>
            <h2>NEWS</h2><img class="title-icon1" src="../../assets/images/icon/home/h-new (1).png" alt=""/>
          </div>
          <div class="home-news_content">
            <div class="home-news_content_item">
              <div class="content" style="background: url(../../assets/images/upload/news/new1.png)"><img class="home-news_content_frame" src="../../assets/images/icon/home/h-new (3).png" alt=""/></div>
              <div class="content-title color-success ct1">!抗疫享優惠!</div>
            </div>
            <div class="home-news_content_item">
              <div class="content" style="background: url(../../assets/images/upload/news/new3.png)"><img class="home-news_content_frame" src="../../assets/images/icon/home/h-new (4).png" alt=""/></div>
              <div class="content-title color-secondary ct2">!新店開幕拉!</div>
            </div>
            <div class="home-news_content_item">
              <div class="content" style="background: url(../../assets/images/upload/news/new2.png)"><img class="home-news_content_frame" src="../../assets/images/icon/home/h-new (5).png" alt=""/></div>
              <div class="content-title color-primary ct3">!軟法系列新上市!</div>
            </div>
          </div>
          <div class="icon-group"><img src="../../assets/images/icon/home/sa(4).png" alt=""/><img src="../../assets/images/icon/home/sa(1).png" alt=""/><img src="../../assets/images/icon/home/sa(5).png" alt=""/><img src="../../assets/images/icon/home/sa(6).png" alt=""/><img src="../../assets/images/icon/home/sa(2).png" alt=""/><img src="../../assets/images/icon/home/sa(3).png" alt=""/><img src="../../assets/images/icon/home/sa(6).png" alt=""/><img src="../../assets/images/icon/home/sa(7).png" alt=""/><img src="../../assets/images/icon/home/sa(8).png" alt=""/><img src="../../assets/images/icon/home/sa(6).png" alt=""/><img src="../../assets/images/icon/home/sa(9).png" alt=""/><img src="../../assets/images/icon/home/sa(5).png" alt=""/></div>
        </div>
      </section>
    </main>
    <footer class="footer"> 
      <div class="footer_nav">
        <div class="footer_nav_wrap"><img class="footer-logo" src="../../assets/images/logo/footer-logo.png" alt=""/>
          <div class="page-details">
            <div class="page-details_content">
              <h3>關於喜得</h3>
              <ul class="page-list">
                <li class="page-list_item"><a href="">品牌故事 </a></li>
                <li class="page-list_item"><a href=""> 里程碑</a></li>
                <li class="page-list_item"><a href=""> 安心認證</a></li>
              </ul>
            </div>
            <div class="page-details_content">
              <h3>最新消息</h3>
              <h3>每位菜單</h3>
            </div>
            <div class="page-details_content">
              <h3>門市據點</h3>
              <h3>聯絡我們</h3>
            </div>
          </div><a class="footer-join-link" href=""><img src="../../assets/images/icon/home/footer-icon.png" alt=""/></a>
        </div>
      </div>
      <div class="footer-social">
        <ul class="social-link">
          <li class="social-link_item"><a href="">Facebook </a></li>
          <li class="social-link_item phone-visible"><a href="">Instagram</a></li>
          <li class="social-link_item"><a href="">YouTube</a></li>
          <li class="social-link_item phone-visible"><a href="">喜得創業加盟網</a></li>
          <li class="social-link_item"><a href="tel:0800-386-389">創業專線 0800-386-389</a></li>
        </ul>
      </div>
    </footer>
    <script src="../../assets/javascripts/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../../assets/javascripts/script.js"></script>
  </body>
</html>