<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>郡都集團</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.1/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/style.css"/>
  </head>
  <body>
    <header class="w-100">
      <div class="container header-main">
        <nav class="navbar navbar-expand-lg navbar-dark p-0" data-aos="fade-down" data-aos-duration="1000"><a class="navbar-brand d-flex align-items-center" href="../index/index.html"> <img class="header-logo" src="../../assets/images/icon/logo.svg" alt=""/>
            <h1 class="mb-0">郡都集團</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="header-close-btn"><span class="line mb-4"></span><span class="line mb-4"></span><span class="line"></span></span></button>
          <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto d-flex"><a class="nav-link d-flex flex-column align-items-center px-20 py-10" href="../about/about.html"><span>About</span><span>關於郡都</span></a><a class="nav-link d-flex flex-column align-items-center px-20 py-10" href="../news/news.html"><span>News</span><span>最新消息</span></a><a class="nav-link d-flex flex-column align-items-center px-20 py-10" href="../case/case.html"><span>Showcase</span><span>郡都熱銷</span></a><a class="nav-link d-flex flex-column align-items-center px-20 py-10" href="../oldDemo/oldDemo1.html"><span>Collection</span><span>郡都典藏</span></a><a class="nav-link d-flex flex-column align-items-center px-20 py-10" href="../relation/relation.html"><span>Affiliates</span><span>關係企業</span></a><a class="nav-link d-flex flex-column align-items-center px-20 pl-lg-20 py-10" href="../contact/contact.html"><span>Contact</span><span>聯絡我們</span></a></div>
          </div>
        </nav>
      </div>
      <div class="sidebar position-absolute vh-100" data-aos="fade-right" data-aos-duration="800" data-aos-delay="500">
        <ul class="nav flex-column align-items-center">
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="https://www.facebook.com/JUDOGROUP"> <i class="fab fa-facebook-f"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"> <i class="fab fa-instagram"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"> <i class="fab fa-twitter"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="https://www.youtube.com/channel/UCfrSNRpKqZqQsCIHEMqAjbA"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
      <div class="brand-logo" data-aos="fade-down" data-aos-duration="1000"><a class="logo d-flex align-items-center" href="../index/index.html"><img src="../../assets/images/icon/logo.svg" alt=""/>
          <h1 class="title">郡都集團</h1></a></div>
    </header>
    <main class="contact">
      <section class="section_banner">
        <div class="container-fluid p-0 position-relative">
          <picture>
            <source srcset="../../assets/images/index/banner2.png" media="(max-width: 768px)"/><img class="w-100" src="../../assets/images/index/banner2.png" alt="My default image"/>
          </picture>
          <div class="banner_body container text-right position-absolute">
            <h2 class="banner_title text-white" data-aos="fade-down" data-aos-duration="1000">CONTACT</h2>
            <nav aria-label="breadcrumb" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
              <ol class="breadcrumb bg-transparent d-flex justify-content-end">
                <li class="breadcrumb-item fz-13"><a class="text-white fz-13" href="../index/index.html">首頁</a></li>
                <li class="breadcrumb-item fz-13 text-white active" aria-current="page">聯絡我們</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="contactInformation">
        <div class="container-fluid p-0 h-100">
          <div class="row h-100">
            <div class="col-lg-7 p-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.058603041384!2d120.29683035078463!3d22.726063085030912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0fa05cb755ed%3A0xe175b7b564e4a38e!2zODEx6auY6ZuE5biC5qWg5qKT5Y2A5aO96LGQ6LevMjg26Jmf!5e0!3m2!1szh-TW!2stw!4v1608051927966!5m2!1szh-TW!2stw" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="allowfullscreen" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-lg-5 p-0 information-bg">
              <div class="content">
                <div class="block mb-30">
                  <h4 class="mb-4">
                     PHONE<small>/ 連絡電話</small></h4>
                  <p class="mb-0">企業總部 :<a href="tel:07-301-1153">07-301-1153 </a></p>
                  <p class="mb-0">傳真電話 : 07-301-1153</p>
                </div>
                <div class="block mb-30">
                  <h4 class="mb-4">
                     ADDRESS<small>/ 地址</small></h4>
                  <p class="mb-0"><a href="https://www.google.com/maps/dir/25.0249216,121.0712064/22.72568,120.29918/@23.858435,119.6060089,8z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0">高雄市楠梓區壽豐路286號</a></p>
                </div>
                <div class="block">
                  <h4 class="mb-4">
                     EMAIL<small>/ 客服信箱</small></h4>
                  <p><a href="mailto:judo.cadc@gmail.com">judo.cadc@gmail.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="contactUs">
        <div class="container py-40 py-md-80">
          <div class="section-title text-center pb-20 mb-40 border-bottom border-primary h4 font-weight-bolder" data-aos="fade-up" data-aos-duration="1000"><span class="mx-12">預</span><span class="mx-12">約</span><span class="mx-12 text-primary">諮</span><span class="mx-12 text-primary">詢</span>
            <div class="section-logo"><img src="../../assets/images/icon/logo.svg" alt=""/></div>
          </div>
          <div class="row px-15" data-aos="fade-up" data-aos-duration="1000">
            <form class="w-100 d-flex flex-column">
              <div class="form-row">
                <div class="col-12 col-sm-6 mb-30">
                  <input class="form-control rounded-0 border-primary" type="text" placeholder="*姓名"/>
                </div>
                <div class="col-12 col-sm-6 mb-30">
                  <input class="form-control rounded-0 border-primary" type="text" placeholder="*連絡電話"/>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 col-sm-6 mb-30">
                  <input class="form-control rounded-0 border-primary" type="text" placeholder="*E-mail"/>
                </div>
                <div class="col-12 col-sm-6 mb-30">
                  <input class="form-control rounded-0 border-primary" type="text" placeholder="驗證碼8080"/>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 mb-30">
                  <textarea class="form-control rounded-0 border-primary" aria-label="With textarea" placeholder="留言內容"></textarea>
                </div>
              </div>
              <button class="btn btn-primary text-white rounded-0" type="submit">確認送出</button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container py-40 py-md-80">
        <div class="footer_logo mb-50">
          <div class="img d-flex justify-content-center align-items-center mx-auto mb-30"><img src="../../assets/images/icon/logo.svg" alt=""/></div>
          <h4 class="h4 name text-center text-white">郡都集團股份有限公司</h4>
        </div>
        <div class="row mb-40 flex-column flex-lg-row" data-aos="fade-up" data-aos-duration="1000">
          <div class="col-0 col-lg-1"></div>
          <div class="col-12 col-lg-5 border-right border-primary footer-border-set">
            <ul class="footer-list d-flex justify-content-center justify-content-lg-start flex-wrap p-0 mb-20 mb-lg-10 ml-0 ml-lg-50">
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../about/about.html">關於郡都</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../news/news.html">最新消息</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../case/case.html">郡都熱銷</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../oldDemo/oldDemo1.html">郡都典藏</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../relation/relation.html">關係企業</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../contact/contact.html">聯絡我們</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="https://www.facebook.com/JUDOGROUP">郡都粉絲團 </a></li>
            </ul>
          </div>
          <div class="col-12 col-lg-6">
            <ul class="footer-contact-list pl-0 pl-lg-40 d-flex flex-wrap justify-content-center justify-content-lg-start">
              <li class="footer-list_item d-flex"><em class="mr-12 fz-13">電話</em><a class="fz-13 text-white" href="tel:07-301-1153">07-301-1153</a></li>
              <li class="footer-list_item d-flex mr-20"><em class="mr-12 fz-13">傳真</em><a class="fz-13 text-white" href="tel:07-301-1153">07-301-1153</a></li>
              <li class="footer-list_item d-flex"><em class="mr-12 fz-13">地址</em><a class="fz-13 text-white" href="https://www.google.com/maps/dir/25.0249216,121.0712064/22.72568,120.29918/@23.858435,119.6060089,8z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0">高雄市楠梓區壽豐路286號</a></li>
              <li class="footer-list_item d-flex"><a class="fz-13 text-white" href="../contact/contact.html">聯絡我們</a></li>
            </ul>
          </div>
        </div>
        <h6 class="text-center fz-12">郡都集團股份有限公司 Copyrights ©<span id="year">2020</span> All Rights Reserved.</h6>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.1/swiper-bundle.min.js"></script>
    <script src="../../assets/javascripts/vendors.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="../../assets/javascripts/script.js"></script>
  </body>
</html>