<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>百典創意行銷</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap"/>
    <link rel="stylesheet" href="../../assets/stylesheets/all.css"/>
  </head>
  <body>
    <header class="header">
      <h2 class="header_logo"><a href="../index/index.html"> <img src="../../assets/images/logo-icon.svg" alt=""/>
          <h2>百典創意行銷</h2></a></h2>
      <div class="header_menu-btn js-headerMenuBtn"><span class="txt">CLOSE</span>
        <div class="c_hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <nav class="header_menu_wrap">
        <ul class="header_nav">
          <li class="header_nav_item js-menu-about gs-header-menu-item"><a href="../about/about.html">ABOUT US</a></li>
          <li class="header_nav_item js-menu-service gs-header-menu-item"><a href="../service/service.html">SERVICE</a></li>
          <li class="header_nav_item js-menu-price gs-header-menu-item"><a href="../price/price.html">PRICE</a></li>
          <li class="header_nav_item js-menu-blog gs-header-menu-item"><a href="../news/news.html">BLOG</a></li>
          <li class="header_nav_item js-menu-contact gs-header-menu-item"><a href="../contact/contact.html">CONTACT</a></li>
        </ul>
      </nav>
      <div class="scrollDown js-scrollDown">
        <p>SCROLL DOWN</p>
      </div>
    </header>
    <main class="price">
      <div class="price_wrap l_page-space">
        <div class="price_title">
          <div class="l_container">
            <div class="c_page-title-group">
              <div class="c_dash-title double gs-page-title-group-title"><span class="en gs-page-title-group-title">PRICE</span><span class="ch gs-page-title-group-title">價格方案</span></div>
              <ul class="c_link-list">
                <li class="c_link gs-page-title-menu"><a href="#"><span class="txt">ALL</span></a></li>
                <li class="c_link gs-page-title-menu"><a href="#"><span class="txt">INFORMATION</span></a></li>
                <li class="c_link gs-page-title-menu"><a href=""><span class="txt">PRESS RELEASE</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <section class="price-sales">
          <div class="l_container">
            <ul class="priceList">
              <li class="priceList_item gs-page-title-menu"><span class="discountIcon">優惠</span>
                <h2 class="title">一頁式預約</h2>
                <div class="price_block"><span class="original">原價NT$9999</span>
                  <h3 class="discount"> <span class="dollar">NT$</span>
                    <sapn class="number">19,800</sapn>
                  </h3><span class="spend">年繳( 現省2200 )</span>
                </div>
                <p class="desc"><span>快速開站 | 行動預約</span><span>快速開站 | 行動預約</span></p><a class="btn" href="">立即購買</a>
              </li>
              <li class="priceList_item recommend gs-page-title-menu"><span class="discountIcon">優惠</span>
                <h2 class="title">一頁式預約</h2>
                <div class="price_block"><span class="original">原價NT$9999</span>
                  <h3 class="discount"> <span class="dollar">NT$</span>
                    <sapn class="number">19,800</sapn>
                  </h3><span class="spend">年繳( 現省2200 )</span>
                </div>
                <p class="desc"><span>快速開站 | 行動預約</span><span>快速開站 | 行動預約</span></p><a class="btn" href="">立即購買</a>
              </li>
              <li class="priceList_item gs-page-title-menu"><span class="discountIcon">優惠</span>
                <h2 class="title">一頁式預約</h2>
                <div class="price_block"><span class="original">原價NT$9999</span>
                  <h3 class="discount"> <span class="dollar">NT$</span>
                    <sapn class="number">19,800</sapn>
                  </h3><span class="spend">年繳( 現省2200 )</span>
                </div>
                <p class="desc"><span>快速開站 | 行動預約</span><span>快速開站 | 行動預約</span></p><a class="btn" href="">立即購買</a>
              </li>
            </ul>
          </div>
        </section>
        <section class="price-compare">
          <div class="l_container">
            <div class="c_dash-title double section-title gs-service-section1"><span class="en">COMPARE</span><span class="ch">方案比較</span></div>
            <div class="compareTable gs-service-section1">
              <div class="table table-dark js-tabWrap program1">
                <div class="thead">
                  <div class="tr">
                    <div class="th"> </div>
                    <div class="th js-tab" data-index="1">方案一</div>
                    <div class="th js-tab" data-index="2">方案二</div>
                    <div class="th js-tab" data-index="3">方案三</div>
                  </div>
                </div>
                <div class="tbody">
                  <div class="tr">
                    <div class="th">年繳方案</div>
                    <div class="td">NT$ 17,760( 平均 $1480/月 ) 1</div>
                    <div class="td bdt-color">NT$ 1780 2</div>
                    <div class="td">NT$ 38,400( 平均 $3,200/月 ) 3</div>
                  </div>
                  <div class="tr">
                    <div class="th">月繳方案</div>
                    <div class="td">5 組 1</div>
                    <div class="td">5 組 2</div>
                    <div class="td">(僅限年繳) 3</div>
                  </div>
                  <div class="tr childItem-title">
                    <div class="th">前台預約</div>
                    <div class="td"> </div>
                    <div class="td"> </div>
                    <div class="td"> </div>
                  </div>
                  <div class="tr">
                    <div class="th">及時月曆</div>
                    <div class="td">200 MB( 約100~200張照片 ) 1</div>
                    <div class="td bdb-color">200 MB( 約100~200張照片 ) 2</div>
                    <div class="td">200 MB( 約100~200張照片 ) 3</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="footer_top js-scrollTop"><a href="#"><span class="txt">BACK TO TOP</span><span class="c_icon"><span class="c_circle"></span></span></a></div>
      <section class="footer_news">
        <div class="news-first">
          <h2 class="title">最新文章</h2>
        </div>
        <div class="news-link"><a href="../news/news.html">竹書房とBizconcier、デジタルコンテンツ事業の合弁会社を設立</a></div>
        <div class="more-btn"><a href="../news/news.html"><span class="text">MORE</span><span class="c_icon"><span class="c_circle"></span></span></a></div>
      </section>
      <nav>
        <ul class="footer_nav">
          <li class="footer_nav_item js-menu-about"><a href="../about/about.html">ABOUT US</a></li>
          <li class="footer_nav_item js-menu-service"><a href="../service/service.html">SERVICE</a></li>
          <li class="footer_nav_item js-menu-price"><a href="../price/price.html">PRICE</a></li>
          <li class="footer_nav_item js-menu-blog"><a href="../news/news.html">BLOG</a></li>
          <li class="footer_nav_item js-menu-contact"><a href="../contact/contact.html">CONTACT</a></li>
        </ul>
      </nav>
      <div class="footer_logo"><a href="#"> <img src="../../assets/images/logo-icon.svg" alt=""/>
          <p>百典創意行銷</p></a></div>
      <p class="footer_address">
         桃園市中壢區龍勇路42巷8弄2號</p>
      <p class="footer_phone"><a href="tel:03-428-4647">03-4284647</a></p><small class="footer_copyright">Copyright @Bizconcier All Rights Reserved.</small>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../assets/javascripts/all.js"></script>
  </body>
</html>