<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>郡都集團</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.1/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/style.css"/>
  </head>
  <body>
    <header class="w-100">
      <div class="container header-main">
        <nav class="navbar navbar-expand-lg navbar-dark p-0" data-aos="fade-down" data-aos-duration="1000"><a class="navbar-brand d-flex align-items-center" href="../index/index.html"> <img class="header-logo" src="../../assets/images/icon/logo.svg" alt=""/>
            <h1 class="mb-0">郡都集團</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="header-close-btn"><span class="line mb-4"></span><span class="line mb-4"></span><span class="line"></span></span></button>
          <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto d-flex"><a class="nav-link d-flex flex-column align-items-center px-20 py-10" href="../about/about.html"><span>About</span><span>關於郡都</span></a><a class="nav-link d-flex flex-column align-items-center px-20 py-10" href="../news/news.html"><span>News</span><span>最新消息</span></a><a class="nav-link d-flex flex-column align-items-center px-20 py-10" href="../case/case.html"><span>Showcase</span><span>郡都熱銷</span></a><a class="nav-link d-flex flex-column align-items-center px-20 py-10" href="../oldDemo/oldDemo1.html"><span>Collection</span><span>郡都典藏</span></a><a class="nav-link d-flex flex-column align-items-center px-20 py-10" href="../relation/relation.html"><span>Affiliates</span><span>關係企業</span></a><a class="nav-link d-flex flex-column align-items-center px-20 pl-lg-20 py-10" href="../contact/contact.html"><span>Contact</span><span>聯絡我們</span></a></div>
          </div>
        </nav>
      </div>
      <div class="sidebar position-absolute vh-100" data-aos="fade-right" data-aos-duration="800" data-aos-delay="500">
        <ul class="nav flex-column align-items-center">
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="https://www.facebook.com/JUDOGROUP"> <i class="fab fa-facebook-f"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"> <i class="fab fa-instagram"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"> <i class="fab fa-twitter"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="https://www.youtube.com/channel/UCfrSNRpKqZqQsCIHEMqAjbA"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
      <div class="brand-logo" data-aos="fade-down" data-aos-duration="1000"><a class="logo d-flex align-items-center" href="../index/index.html"><img src="../../assets/images/icon/logo.svg" alt=""/>
          <h1 class="title">郡都集團</h1></a></div>
    </header>
    <main class="caseDetails">
      <section class="section_banner">
        <div class="container-fluid p-0 position-relative">
          <picture>
            <source srcset="../../assets/images/index/banner1.png" media="(max-width: 768px)"/><img class="w-100" src="../../assets/images/index/banner1.png" alt="My default image"/>
          </picture>
          <div class="banner_body container text-right position-absolute">
            <h2 class="banner_title text-white" data-aos="fade-down" data-aos-duration="1000">PROJECT</h2>
            <nav aria-label="breadcrumb" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
              <ol class="breadcrumb bg-transparent d-flex justify-content-end">
                <li class="breadcrumb-item fz-13"><a class="text-white fz-13" href="../index/index.html">首頁</a></li>
                <li class="breadcrumb-item fz-13"><a class="text-white fz-13" href="../case/case.html">典藏案例</a></li>
                <li class="breadcrumb-item fz-13 text-white active" aria-current="page">個案簡介</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="caseDetailsContent">
        <div class="case-container py-40 py-md-80">
          <div class="section-title text-center pb-20 mb-40 border-bottom border-primary h4 font-weight-bolder" data-aos="fade-up" data-aos-duration="1000"><span class="mx-12">個</span><span class="mx-12">案</span><span class="mx-12 text-primary">簡</span><span class="mx-12 text-primary">介</span>
            <div class="section-logo"><img src="../../assets/images/icon/logo.svg" alt=""/></div><a class="history-btn jq-history-btn" href="#"><span>回</span><span>上</span><span>頁</span></a>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-lg-6"><img class="img-fluid case-img-set" src="../../assets/images/demoImg/3/g1.png" alt=""/></div>
            <div class="col-lg-6">
              <div class="content">
                <h1 class="h3 my-20">郡都當代</h1>
                <ul>
                  <li><strong>基地座落 :</strong>
                    <p> </p>
                  </li>
                  <li><strong>基地面積 :</strong>
                    <p> </p>
                  </li>
                  <li><strong>層數 :</strong>
                    <p> </p>
                  </li>
                  <li><strong>使用分區 :</strong>
                    <p> </p>
                  </li>
                </ul>
                <p>建築設計 ： <br/>結構設計 ： <br/>景觀施工 ： <br/>藝術團隊 ： <br/>完工時間 ： <br/>聯絡電話 ： <a class="d-inline" href="tel:07-301-1153">07-301-1153</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="case-container pt-40 pt-md-80">
          <div class="section-title text-center pb-20 mb-40 border-bottom border-primary h4 font-weight-bolder" data-aos="fade-up" data-aos-duration="1000"><span class="mx-12">個</span><span class="mx-12">案</span><span class="mx-12 text-primary">圖</span><span class="mx-12 text-primary">集</span>
            <div class="section-logo"><img src="../../assets/images/icon/logo.svg" alt=""/></div>
          </div>
          <div class="caseSwiper jq-caseSwiper" data-aos="fade-up" data-aos-duration="1000">
            <div class="swiper-wrapper jq-caseSwiperWrap"><a class="swiper-slide" href="../../assets/images/demoImg/3/g1.png" title="郡都當代（日景公園）小 0517"> <img src="../../assets/images/demoImg/3/g1.png" alt="郡都當代（日景公園）小 0517"/></a><a class="swiper-slide" href="../../assets/images/demoImg/3/g2.png" title="當代-穹頂正-日"> <img src="../../assets/images/demoImg/3/g2.png" alt="當代-穹頂正-日"/></a><a class="swiper-slide" href="../../assets/images/demoImg/3/g3.png" title="沿街步道夜景-0507-雞蛋花"> <img src="../../assets/images/demoImg/3/g3.png" alt="沿街步道夜景-0507-雞蛋花"/></a><a class="swiper-slide" href="../../assets/images/demoImg/3/g4.png" title="穹頂0522"> <img src="../../assets/images/demoImg/3/g4.png" alt="穹頂0522"/></a></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container py-40 py-md-80">
        <div class="footer_logo mb-50">
          <div class="img d-flex justify-content-center align-items-center mx-auto mb-30"><img src="../../assets/images/icon/logo.svg" alt=""/></div>
          <h4 class="h4 name text-center text-white">郡都集團股份有限公司</h4>
        </div>
        <div class="row mb-40 flex-column flex-lg-row" data-aos="fade-up" data-aos-duration="1000">
          <div class="col-0 col-lg-1"></div>
          <div class="col-12 col-lg-5 border-right border-primary footer-border-set">
            <ul class="footer-list d-flex justify-content-center justify-content-lg-start flex-wrap p-0 mb-20 mb-lg-10 ml-0 ml-lg-50">
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../about/about.html">關於郡都</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../news/news.html">最新消息</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../case/case.html">郡都熱銷</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../oldDemo/oldDemo1.html">郡都典藏</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../relation/relation.html">關係企業</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="../contact/contact.html">聯絡我們</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="https://www.facebook.com/JUDOGROUP">郡都粉絲團 </a></li>
            </ul>
          </div>
          <div class="col-12 col-lg-6">
            <ul class="footer-contact-list pl-0 pl-lg-40 d-flex flex-wrap justify-content-center justify-content-lg-start">
              <li class="footer-list_item d-flex"><em class="mr-12 fz-13">電話</em><a class="fz-13 text-white" href="tel:07-301-1153">07-301-1153</a></li>
              <li class="footer-list_item d-flex mr-20"><em class="mr-12 fz-13">傳真</em><a class="fz-13 text-white" href="tel:07-301-1153">07-301-1153</a></li>
              <li class="footer-list_item d-flex"><em class="mr-12 fz-13">地址</em><a class="fz-13 text-white" href="https://www.google.com/maps/dir/25.0249216,121.0712064/22.72568,120.29918/@23.858435,119.6060089,8z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0">高雄市楠梓區壽豐路286號</a></li>
              <li class="footer-list_item d-flex"><a class="fz-13 text-white" href="../contact/contact.html">聯絡我們</a></li>
            </ul>
          </div>
        </div>
        <h6 class="text-center fz-12">郡都集團股份有限公司 Copyrights ©<span id="year">2020</span> All Rights Reserved.</h6>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.1/swiper-bundle.min.js"></script>
    <script src="../../assets/javascripts/vendors.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="../../assets/javascripts/script.js"></script>
  </body>
</html>