<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/style.css"/>
  </head>
  <body>
    <header class="header">
      <div class="header_wrap">
        <div class="header_topBar">
          <div class="header_topBar-top">
            <div class="header_topBar-top_wrap"><a class="web-link" href=""> <span>炭火燒三明治</span><img src="../../assets/images/logo/footer-logo.png" alt=""/></a>
              <div class="social-ink"><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/fb-icon.svg" alt=""/></a><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/ig-icon.svg" alt=""/></a><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/yt-icon.svg" alt=""/></a></div>
            </div>
          </div>
          <div class="header_topBar-bottom">
            <div class="header_topBar-bottom_wrap"> <a class="join-link" href=""> <img class="flag" src="../../assets/images/icon/header/flag.png" alt=""/><span class="mob-join-link"><i class="fas fa-store"></i>加盟</span></a></div>
          </div>
        </div>
      </div>
      <div class="header_logo">
        <h1><a class="header_logo_link" href="../index/index.html" style="background: url(../../assets/images/logo/logo.png)">喜得炭火三明治</a></h1>
      </div>
      <nav class="header_nav">
        <ul class="nav">
          <li class="nav_item"><a class="color-border-primary" href="../about/about.html"><i class="fas fa-user"></i>關於我們</a></li>
          <li class="nav_item"><a class="color-border-secondary" href="../menu/menu.html"> <i class="fas fa-utensils"></i>最新菜單</a></li>
          <li class="nav_item"><a class="color-border-success" href="../news/news.html"><i class="fas fa-rss"></i>最新消息</a></li>
          <li class="nav_item"><a class="color-border-primary" href="../location/location.html"> <i class="fas fa-map-marker-alt"></i>服務據點</a></li>
          <li class="nav_item"><a class="color-border-secondary" href="../contact/contact.html"> <i class="fas fa-comments"></i>聯絡我們</a></li>
        </ul>
      </nav>
    </header>
    <main class="about">
      <section class="page-banner">
        <div class="page-banner_wrap" style="background: url(../../assets/images/icon/page/banner-bg.jpg)"><img class="page-banner_icon" src="../../assets/images/icon/page/baner-icon.png" alt=""/></div>
      </section>
      <section class="page-nav">
        <nav class="page-nav_wrap">
          <ul class="list">
            <li class="list_item"><a href="./about.html">品牌故事</a></li>
            <li class="list_item"><a href="./about1.html">里程碑</a></li>
            <li class="list_item"><a href="./about2.html">安心認證</a></li>
            <li class="list_item"><a href="./about3.html">食品認證</a></li>
          </ul>
        </nav>
      </section>
      <section class="about-timeline">
        <div class="about-timeline_wrap">
          <ul class="year-list">
            <li class="year-list_item jq-year-list_item active" data-num="#s1"><span>2020</span></li>
            <li class="year-list_item jq-year-list_item" data-num="#s2"><span>2018</span></li>
            <li class="year-list_item jq-year-list_item" data-num="#s3"><span>2016</span></li>
            <li class="year-list_item jq-year-list_item" data-num="#s4"><span>2015</span></li>
            <li class="year-list_item jq-year-list_item" data-num="#s5"><span>2013</span></li>
          </ul>
          <ul class="list">
            <li class="list_item" id="s1" data-num="s1">
              <div class="content">
                <div class="img"> <img src="https://www.qburger.com.tw/uploads/images/%E9%87%8C%E7%A8%8B%E7%A2%911217_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201%20%E8%A4%87%E6%9C%AC%208.jpg" alt=""/>
                  <div class="content-title">
                    <div class="year">創始元年/2003</div>
                  </div>
                </div>
                <div class="text">興建千坪物流中心，服務中南部店家，掌握新鮮嚴選食材，快速配送至門市。秉持新鮮製作，新鮮販售原則。</div>
              </div>
              <div class="space"></div>
            </li>
            <li class="list_item" id="s2" data-num="s2">
              <div class="content">
                <div class="img"> <img src="https://www.qburger.com.tw/uploads/images/%E9%87%8C%E7%A8%8B%E7%A2%911217_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201%20%E8%A4%87%E6%9C%AC%208.jpg" alt=""/>
                  <div class="content-title">
                    <div class="year">創始元年/2003</div>
                  </div>
                </div>
                <div class="text">興建千坪物流中心，服務中南部店家，掌握新鮮嚴選食材，快速配送至門市。秉持新鮮製作，新鮮販售原則。</div>
              </div>
              <div class="space"></div>
            </li>
            <li class="list_item" id="s3" data-num="s3">
              <div class="content">
                <div class="img"> <img src="https://www.qburger.com.tw/uploads/images/%E9%87%8C%E7%A8%8B%E7%A2%911217_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201%20%E8%A4%87%E6%9C%AC%208.jpg" alt=""/>
                  <div class="content-title">
                    <div class="year">創始元年/2003</div>
                  </div>
                </div>
                <div class="text">興建千坪物流中心，服務中南部店家，掌握新鮮嚴選食材，快速配送至門市。秉持新鮮製作，新鮮販售原則。</div>
              </div>
              <div class="space"></div>
            </li>
            <li class="list_item" id="s4" data-num="s4">
              <div class="content">
                <div class="img"> <img src="https://www.qburger.com.tw/uploads/images/%E9%87%8C%E7%A8%8B%E7%A2%911217_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201%20%E8%A4%87%E6%9C%AC%208.jpg" alt=""/>
                  <div class="content-title">
                    <div class="year">創始元年/2003</div>
                  </div>
                </div>
                <div class="text">興建千坪物流中心，服務中南部店家，掌握新鮮嚴選食材，快速配送至門市。秉持新鮮製作，新鮮販售原則。</div>
              </div>
              <div class="space"></div>
            </li>
            <li class="list_item" id="s5" data-num="s5">
              <div class="content">
                <div class="img"> <img src="https://www.qburger.com.tw/uploads/images/%E9%87%8C%E7%A8%8B%E7%A2%911217_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201%20%E8%A4%87%E6%9C%AC%208.jpg" alt=""/>
                  <div class="content-title">
                    <div class="year">創始元年/2003</div>
                  </div>
                </div>
                <div class="text">興建千坪物流中心，服務中南部店家，掌握新鮮嚴選食材，快速配送至門市。秉持新鮮製作，新鮮販售原則。</div>
              </div>
              <div class="space"></div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer class="footer"> 
      <div class="footer_nav">
        <div class="footer_nav_wrap"><img class="footer-logo" src="../../assets/images/logo/footer-logo.png" alt=""/>
          <div class="page-details">
            <div class="page-details_content first">
              <h3> <a href="">關於喜得 </a></h3>
              <ul class="page-list">
                <li class="page-list_item"><a href="">品牌故事 </a></li>
                <li class="page-list_item"><a href=""> 里程碑</a></li>
                <li class="page-list_item"><a href=""> 安心認證</a></li>
              </ul>
            </div>
            <div class="page-details_content">
              <h3><a href="">最新消息 </a></h3>
              <h3><a href="">美味菜單 </a></h3>
            </div>
            <div class="page-details_content">
              <h3><a href="">門市據點 </a></h3>
              <h3><a href="">聯絡我們 </a></h3>
            </div>
          </div><a class="footer-join-link" href=""><img src="../../assets/images/icon/home/footer-icon.png" alt=""/></a>
        </div>
      </div>
      <div class="footer-social">
        <ul class="social-link">
          <li class="social-link_item"><a href="">Facebook </a></li>
          <li class="social-link_item phone-visible"><a href="">Instagram</a></li>
          <li class="social-link_item"><a href="">YouTube</a></li>
          <li class="social-link_item phone-visible"><a href="">喜得創業加盟網</a></li>
          <li class="social-link_item"><a href="tel:0800-386-389">創業專線 0800-386-389</a></li>
        </ul>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js"></script>
    <script src="../../assets/javascripts/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../../assets/javascripts/script.js"></script>
  </body>
</html>