
<footer class="footer">
  <div class="container py-40 py-md-80">
    <div class="footer_logo mb-50">
      <div class="img d-flex justify-content-center align-items-center mx-auto mb-30"><img src="../../assets/images/icon/logo.svg" alt=""/></div>
      <h4 class="h4 name text-center text-white">郡都建設股份有限公司</h4>
    </div>
    <div class="row mb-40">
      <div class="col-0 col-md-1"></div>
      <div class="col-12 col-md-5 border-right border-primary">
        <ul class="footer-list d-flex flex-wrap p-0 mb-10 ml-md-50">
          <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">關於郡都</a></li>
          <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">最新消息</a></li>
          <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">郡都案例</a></li>
          <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">執行團隊</a></li>
          <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">聯絡我們</a></li>
          <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">郡都粉絲團 </a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul class="footer-contact-list p-0 pl-md-40 d-flex flex-wrap">
          <li class="footer-list_item"><em class="mr-12 fz-13">電話</em><a class="fz-13 text-white" href="tel:07-301-1153">07-301-1153</a></li>
          <li class="footer-list_item mr-20"><em class="mr-12 fz-13">傳真</em><a class="fz-13 text-white" href="tel:07-301-1153">07-301-1153</a></li>
          <li class="footer-list_item"><em class="mr-12 fz-13">地址</em><a class="fz-13 text-white" href="https://www.google.com/maps/dir/25.0249216,121.0712064/22.72568,120.29918/@23.858435,119.6060089,8z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0">高雄市楠梓區壽豐路286號</a></li>
          <li class="footer-list_item"><a class="fz-13 text-white" href="../contact/contact.html">聯絡我們</a></li>
        </ul>
      </div>
    </div>
    <h6 class="text-center fz-12">郡都建設股份有限公司 Copyrights ©<span id="year">2020</span> All Rights Reserved.</h6>
  </div>
</footer>