
<header class="bg-transparent position-absolute w-100">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark p-0"><a class="navbar-brand d-none" href="#"> <img class="header-logo" src="../../assets/images/icon/logo.svg" alt=""/>
        <h1>郡都建設</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse ml-auto d-flex" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto"><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../about/about.html"><span>About</span><span>關於郡都</span></a><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../news/news.html"><span>News</span><span>最新消息</span></a><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../case/case.html"><span>Showcase</span><span>郡都案例</span></a><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../team/team.html"><span>Team</span><span>執行團隊</span></a><a class="nav-link text-white d-flex flex-column align-items-center pl-20 py-30" href="../contact/contact.html"><span>Contact</span><span>聯絡我們</span></a></div>
      </div>
    </nav>
  </div>
  <div class="sidebar position-absolute vh-100">
    <ul class="nav flex-column align-items-center">
      <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="https://www.facebook.com/JUDOGROUP"> <i class="fab fa-facebook-f"></i></a></li>
      <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"> <i class="fab fa-instagram"></i></a></li>
      <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"> <i class="fab fa-twitter"></i></a></li>
      <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </div>
  <div class="brand-logo d-flex align-items-center"><a class="logo" href="../index/index.html"><img src="../../assets/images/icon/logo.svg" alt=""/></a>
    <h1 class="title">郡都建設</h1>
  </div>
</header>