<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="top">
          <h1 class="logo"><a href="" style="background: url(http://placeimg.com/100/160/fashion)"> </a></h1>
          <nav class="navbar">
            <div class="u_hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <ul class="nav">
              <li class="nav_item active"><a class="nav_link" href="./index.html">home </a></li>
              <li class="nav_item"><a class="nav_link" href="./about.html">about</a></li>
              <li class="nav_item"><a class="nav_link" href="./work.html">work</a></li>
              <li class="nav_item"><a class="nav_link" href="./service.html">service</a></li>
              <li class="nav_item"><a class="nav_link" href="./press.html">press</a></li>
              <li class="nav_item"><a class="nav_link" href="./contact.html">contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="bottom">
          <div class="list">
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-instagram"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-facebook-f"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-pinterest"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="far fa-envelope"></i></a></div>
          </div>
        </div>
      </div>
    </header>
    <main class="about">
      <div class="about_wrap container">
        <section class="banner"><img src="http://placeimg.com/1000/660/city" alt=""/></section>
        <section class="aboutIntroduce">
          <div class="aboutIntroduce_wrap section-space">
            <div class="blok">
              <h2 class="title-section">關於 about us</h2>
              <div class="text">
                <p>Studio In2 重視在功能需求和美感之間取得完美的平衡，並強調每個空間從線條到顏色的佈局和比例的重要性．堅持提供歷久彌新、現代、具藝術價值、多元化的設計給我們的客戶．</p>
                <p>We're focused on creating spaces which strike a perfect balance between function and aesthetics with an emphasis on the importance of composition and proportion, from lines to colors. We provides a variety of timeless, artistic, and modern designs to our clients.</p>
              </div>
            </div>
            <div class="blok"> 
              <h2 class="title-section">產品  PRODUCTS</h2>
              <div class="text">
                <ul>
                  <li>
                    <p>室內空間設計 - 零售、商業/辦公、住宅、公共空間等</p>
                  </li>
                  <li>
                    <p>室內空間設計 - 零售、商業/辦公、住宅、公共空間等</p>
                  </li>
                </ul>
                <ul>
                  <li>
                    <p>Interior Design - retail, commercial, residential, and hospitality spaces.commercial, residential, and hospitality spaces.</p>
                  </li>
                  <li>
                    <p>Interior Design - retail, commercial, residential, and hospitality spaces.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="aboutAward">
          <div class="aboutAward_wrap section-space">
            <h2 class="title-section">獎項 AWARD</h2>
            <div class="aboutAward_content">
              <div class="iconsList"><img class="iconsList_item" src="http://placeimg.com/640/480/technics" alt=""/><img class="iconsList_item" src="http://placeimg.com/640/480/technics" alt=""/><img class="iconsList_item" src="http://placeimg.com/640/480/technics" alt=""/><img class="iconsList_item" src="http://placeimg.com/640/480/technics" alt=""/></div>
              <div class="description">
                <ul class="cn">
                  <li> 
                    <p>2020 金點設計獎 - 空間設計 - 標章得主 - MM Apartment</p>
                  </li>
                  <li> 
                    <p>2020 TID 第十三屆台灣室內設計大獎 - 樣品屋/ 實品屋 - TID獎</p>
                  </li>
                  <li> 
                    <p>2020 TID 第十三屆台灣室內設計大獎 - 居住空間/ 單層 - TID獎</p>
                  </li>
                  <li> 
                    <p>2020 TID 第十三屆台灣室內設計大獎 - 居住空間/ 微型 - TID獎</p>
                  </li>
                </ul>
                <ul class="en">
                  <li> 
                    <p>2020 - Golden Pin Design Award - Space Design - Winner - MM Apartment</p>
                  </li>
                  <li> 
                    <p>2020 TID Taiwan Interior Design Award - Residential - Model Home</p>
                  </li>
                  <li> 
                    <p>2020 TID Taiwan Interior Design Award - Residential - Single Level</p>
                  </li>
                  <li> 
                    <p>2020 TID Taiwan Interior Design Award - Residential - Small Space</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="aboutInstagram">
          <div class="aboutInstagram_wrap section-space">
            <h2 class="title-section">Instagram</h2>
            <div class="aboutInstagram_content"><a class="link" href=""><img src="http://placeimg.com/640/480/animals" alt=""/></a><a class="link" href=""><img src="http://placeimg.com/640/480/animals" alt=""/></a><a class="link" href=""><img src="http://placeimg.com/640/480/animals" alt=""/></a><a class="link" href=""><img src="http://placeimg.com/640/480/animals" alt=""/></a></div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p class="footer_title">© Studio In2 深活生活設計有限公司</p>
        <div class="list">
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-instagram"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-facebook-f"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-pinterest"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="far fa-envelope"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="../assets/javascripts/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../assets/javascripts/script.js"></script>
  </body>
</html>