<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="top">
          <h1 class="logo"><a href="./index.html" style="background: url(../assets/images/logo.jpg)"> </a></h1>
          <div class="jq-nav btn">MENU</div>
          <nav class="navbar">
            <ul class="nav jq-navList">
              <li class="nav_item"><a class="nav_link" href="./index.html">home </a></li>
              <li class="nav_item"><a class="nav_link" href="./about.html" data-page="about">about</a></li>
              <li class="nav_item"><a class="nav_link" href="./work.html" data-page="work">work</a></li>
              <li class="nav_item"><a class="nav_link" href="./service.html" data-page="service">service</a></li>
              <li class="nav_item"><a class="nav_link" href="./contact.html" data-page="contact">contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="bottom">
          <div class="list">
            <div class="list_item"><a class="icon-circle jq-ig" href="#"><i class="fab fa-instagram"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="https://www.facebook.com/cheese.interior.design/"> <i class="fab fa-facebook-f"></i></a></div>
            <div class="list_item"><a class="icon-circle jq-pinterest" href="#"><i class="fab fa-pinterest"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="mailto:cheese.design@msa.hinet.net"> <i class="far fa-envelope"></i></a></div>
          </div>
        </div>
      </div>
    </header>
    <main class="contact">
      <div class="contact_wrap container">
        <section class="contactInformation">
          <div class="contactInformation_wrap">
            <div class="text">
              <p>若您喜歡我們的作品與理念，有合作的興趣，歡迎聯絡我們！</p>
              <p>空間設計諮詢請註明案件地點、坪數、用途、屋況、需求等．</p>
              <p>資料提供越詳盡，我們便能提供您更有效率的產品服務．</p>
            </div>
            <div class="line"></div>
            <div class="text">
              <p>吉室設計有限公司</p>
              <p>10491台北市中山區松江路46-40</p>
              <p>46-40, Songjiang Road, Zhongshan District, Taipei City 10491, Taiwan</p>
              <p>Phone: +886-9-3991-1755</p>
            </div>
            <div class="text"><strong>Email: cheese.design@msa.hinet.net</strong>
              <p>歡迎加 LINE 諮詢</p>
            </div>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.5926945654087!2d121.53055491552597!3d25.04789304388721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a963be16449d%3A0x5e05fa9faee65c50!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDmnb7msZ_ot680NuiZnw!5e0!3m2!1szh-TW!2stw!4v1614158281018!5m2!1szh-TW!2stw" style="border:0;" allowfullscreen="allowfullscreen" loading="lazy"></iframe>
            </div>
          </div>
        </section>
        <section class="contactForm">
          <div class="contactForm_wrap">
            <h2 class="title-section">聯絡我們 contact us</h2>
            <div class="contactForm_form">
              <form>
                <div class="form-row">
                  <label for="">Name 姓名 *</label>
                  <input type="text"/>
                </div>
                <div class="form-row">
                  <label for="">Email 電郵 *</label>
                  <input type="text"/>
                </div>
                <div class="form-row">
                  <label for="">Phone 電話 ( 如有方便聯絡時間，請在訊息中註明 ) *</label>
                  <input type="text"/>
                </div>
                <div class="form-row">
                  <label for="">Size 空間坪數</label>
                  <select>
                    <option value="">-</option>
                    <option value="">19坪以下</option>
                    <option value="">30坪以下</option>
                    <option value="">40坪以下</option>
                  </select>
                </div>
                <div class="form-row">
                  <label for="">Budget 預算</label>
                  <select>
                    <option value="">-</option>
                    <option value="">19坪以下</option>
                    <option value="">30坪以下</option>
                    <option value="">40坪以下</option>
                  </select>
                </div>
                <div class="form-row">
                  <label for="">How did you hear about ? 從哪裡得知</label>
                  <select>
                    <option value="">- </option>
                    <option value="">19坪以下</option>
                    <option value="">30坪以下</option>
                    <option value="">40坪以下</option>
                  </select>
                </div>
                <div class="form-row">
                  <label for="">Message 訊息 *</label>
                  <textarea name="" cols="30" rows="10"> </textarea>
                </div>
                <div class="form-row">
                  <input class="submit" type="submit" value="submit 送出"/>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p class="footer_title">© 吉室設計有限公司</p>
        <div class="list">
          <div class="list_item"><a class="icon-circle jq-ig" href="#"><i class="fab fa-instagram"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="https://www.facebook.com/cheese.interior.design/"> <i class="fab fa-facebook-f"></i></a></div>
          <div class="list_item"><a class="icon-circle jq-pinterest" href="#"><i class="fab fa-pinterest"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="mailto:cheese.design@msa.hinet.net"> <i class="far fa-envelope"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="../assets/javascripts/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../assets/javascripts/script.js"></script>
  </body>
</html>