<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="top">
          <h1 class="logo"><a href="" style="background: url(http://placeimg.com/100/160/fashion)"> </a></h1>
          <nav class="navbar">
            <div class="u_hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <ul class="nav">
              <li class="nav_item active"><a class="nav_link" href="./index.html">home </a></li>
              <li class="nav_item"><a class="nav_link" href="./about.html">about</a></li>
              <li class="nav_item"><a class="nav_link" href="./work.html">work</a></li>
              <li class="nav_item"><a class="nav_link" href="./service.html">service</a></li>
              <li class="nav_item"><a class="nav_link" href="./press.html">press</a></li>
              <li class="nav_item"><a class="nav_link" href="./contact.html">contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="bottom">
          <div class="list">
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-instagram"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-facebook-f"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-pinterest"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="far fa-envelope"></i></a></div>
          </div>
        </div>
      </div>
    </header>
    <main class="details">
      <div class="details_wrap container">
        <div class="detailsGallery"><img src="http://placeimg.com/640/480/business" alt=""/><img src="http://placeimg.com/640/480/business" alt=""/><img src="http://placeimg.com/640/480/business" alt=""/><img src="http://placeimg.com/640/480/business" alt=""/><img src="http://placeimg.com/640/480/business" alt=""/><img src="http://placeimg.com/640/480/business" alt=""/><img src="http://placeimg.com/640/480/business" alt=""/><img src="http://placeimg.com/640/480/business" alt=""/><img src="http://placeimg.com/640/480/business" alt=""/></div>
        <div class="detailsContent">
          <div class="title">DESIGN MOVEMENT ON CAMPUS - LAN-TIAN ELEMENTARY SCHOOL</div>
          <div class="text">
            <div class="cn">
              <p>
                藍田悅讀 <br><br>郊區的公立小學面臨學生數大幅減少的狀況已有一段時間，造成許多教室的長期閒置。苗栗縣藍田國小參與了教育部與台灣設計研究院「學美．美學—校園美感設計實踐計畫」，與 Studio In2 深活生活設計合作改造教室。將原位於較偏遠的圖書室，移至鄰近學生教室的位置，並將閒置的兩間教室合併、改造成一處全新的閱讀空間。</p>
              <p>在田間環繞的校園中，設定了一個較具當代與簡約主義的閱讀室。書本的自然排列，透過一簡單的書櫃造型裂縫，形成一道像城市天際線的景象。在不同的時間下，擁有似城市剪影般的光線變化。一種象徵都市和鄉間情感上的對話，透過隱約的符號暗示彼此的對望，讓改造後的閱讀室有點衝突卻不違和地存在於校內。</p>
            </div>
            <div class="en">
              <p>The number of students in suburban public elementary schools in Taiwan has been reducing for some time. Many classrooms are becoming old and have been left idle for long periods of time. Lan-Tian Elementary School in Miaoli County participated in the Design Movement on Campus program launched by Taiwan Design Research Institute and cooperated with Studio In2 to renovate the classrooms. With limited resources, the school moved the library, which was originally located far from the classrooms, to a place near the classrooms. Two idle classrooms were combined and renovated into a new reading space. </p>
              <p>In the campus surrounded by natural and countryside landscapes, Studio In2 designed a reading room featuring modern and simplicity elements. Through a crack-like design of the shelf, the books are freely arranged to form a scene like a city skyline. The shadow of the shelves, created by the change of lighting in different times, resembles the silhouette of a city. This symbolizes a passionate dialogue between city and countryside, with implicit signs hinting at the mutual gaze between them.</p>
            </div>
          </div>
          <div class="format">
            <div class="city"> <span class="label">City</span>
              <p>Miaoli County</p>
            </div>
            <div class="year"> <span class="label">Year</span>
              <p>2020</p>
            </div>
            <div class="size"> <span class="label">Size</span>
              <p>39 坪/ 99 m2</p>
            </div>
            <div class="photographer"> <span class="label">Photographer</span>
              <p>Jackal Liu</p>
            </div>
          </div>
        </div>
      </div>
      <div class="detailsPagination"> <a class="back" href="">Back to Work</a>
        <div class="pagination"> <a class="prev" href="">prev</a><a class="next" href="">next</a></div>
      </div>
      <section class="workShow">
        <div class="workShow_wrap"><a class="card" href="./details.html">
            <div class="card_img"><img src="http://placeimg.com/370/370/technics" alt=""/></div>
            <h3 class="card_title">DESIGN MOVEMENT ON CAMPUS - LAN-TIAN ELEMENTARY SCHOOL  </h3></a><a class="card" href="./details.html">
            <div class="card_img"><img src="http://placeimg.com/370/370/technics" alt=""/></div>
            <h3 class="card_title">DESIGN MOVEMENT ON CAMPUS - LAN-TIAN ELEMENTARY SCHOOL  </h3></a><a class="card" href="./details.html">
            <div class="card_img"><img src="http://placeimg.com/370/370/technics" alt=""/></div>
            <h3 class="card_title">DESIGN MOVEMENT ON CAMPUS - LAN-TIAN ELEMENTARY SCHOOL  </h3></a></div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <p class="footer_title">© Studio In2 深活生活設計有限公司</p>
        <div class="list">
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-instagram"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-facebook-f"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-pinterest"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="far fa-envelope"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="../assets/javascripts/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../assets/javascripts/script.js"></script>
  </body>
</html>