<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="top">
          <h1 class="logo"><a href="./index.html" style="background: url(../assets/images/logo.jpg)"> </a></h1>
          <div class="jq-nav btn">MENU</div>
          <nav class="navbar">
            <ul class="nav jq-navList">
              <li class="nav_item"><a class="nav_link" href="./index.html">home </a></li>
              <li class="nav_item"><a class="nav_link" href="./about.html" data-page="about">about</a></li>
              <li class="nav_item"><a class="nav_link" href="./work.html" data-page="work">work</a></li>
              <li class="nav_item"><a class="nav_link" href="./service.html" data-page="service">service</a></li>
              <li class="nav_item"><a class="nav_link" href="./contact.html" data-page="contact">contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="bottom">
          <div class="list">
            <div class="list_item"><a class="icon-circle jq-ig" href="#"><i class="fab fa-instagram"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="https://www.facebook.com/cheese.interior.design/"> <i class="fab fa-facebook-f"></i></a></div>
            <div class="list_item"><a class="icon-circle jq-pinterest" href="#"><i class="fab fa-pinterest"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="mailto:cheese.design@msa.hinet.net"> <i class="far fa-envelope"></i></a></div>
          </div>
        </div>
      </div>
    </header>
    <main class="details">
      <div class="details_wrap container">
        <div class="detailsGallery"><img src="../assets/images/work1 (1).jpg" alt=""/><img src="../assets/images/work1 (2).jpg" alt=""/><img src="../assets/images/work1 (3).jpg" alt=""/><img src="../assets/images/work1 (4).jpg" alt=""/><img src="../assets/images/work1 (5).jpg" alt=""/><img src="../assets/images/work1 (6).jpg" alt=""/></div>
        <div class="detailsContent">
          <div class="title">「板橋 張宅」</div>
          <div class="text">
            <div class="cn">
              <p>小空間往往需要兼顧空間劃分和收納兩大問題</p>
              <p>
                這次吉室設計幫這個家的主人，<br>設計了一整面到天花的收納櫃，<br>
                解決了鞋子跟雜物的收納。
                天花板的梁造成視覺得壓迫，<br>
                我們採用了弧型天花版，<br>
                巧妙的以局部包板設計，<br>
                順應成屋高落差的弧線造型，<br>
                成功化解了制式和僵硬，<br>
                這種工法在裝潢木工項目中，<br>
                算是難度較高的項目，<br>
                但吉室設計一向不會只挑簡單的做，
                放心把家交給我們。
              </p>
            </div>
            <div class="en">
              <p>Small spaces often need to take into account the two major issues of space division and storage</p>
              <p>This time, Jishi Design helped the owner of this house to design a storage cabinet with a whole surface to the ceiling, which solved the storage of shoes and sundries. The ceiling beams caused visual oppression. We adopted an arc-shaped ceiling version, cleverly designed with partial cladding, and adapted to the arc shape of the height difference of the existing house, successfully dissolving the standard and rigidity. This construction method can be regarded as a decoration in woodworking projects. Projects with higher difficulty, but Jishi design always does not just pick simple things, rest assured to give us the home.</p>
            </div>
          </div>
          <div class="format">
            <div class="city"> <span class="label">City</span>
              <p>Banqiao</p>
            </div>
            <div class="year"> <span class="label">Year</span>
              <p>2020</p>
            </div>
            <div class="size"> <span class="label">Size</span>
              <p>39 坪/ 99 m2</p>
            </div>
            <div class="photographer"> <span class="label">Photographer</span>
              <p>cheese.design</p>
            </div>
          </div>
        </div>
      </div>
      <div class="detailsPagination"> <a class="back" href="./work.html">Back to Work</a>
        <div class="pagination"> <a class="prev jq-pre" href="">prev</a><a class="next jq-next" href="">next</a></div>
      </div>
      <section class="workShow">
        <div class="workShow_wrap"><a class="card" href="./details.html">
            <div class="card_img"><img src="../assets/images/work1 (1).jpg" alt=""/></div>
            <h3 class="card_title">板橋 張宅  </h3></a><a class="card" href="./details.html">
            <div class="card_img"><img src="../assets/images/work2 (1).jpg" alt=""/></div>
            <h3 class="card_title">景美 ● 梁宅  </h3></a><a class="card" href="./details.html">
            <div class="card_img"><img src="../assets/images/work3 (2).jpg" alt=""/></div>
            <h3 class="card_title">台北·吉室設計工作室  </h3></a></div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <p class="footer_title">© 吉室設計有限公司</p>
        <div class="list">
          <div class="list_item"><a class="icon-circle jq-ig" href="#"><i class="fab fa-instagram"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="https://www.facebook.com/cheese.interior.design/"> <i class="fab fa-facebook-f"></i></a></div>
          <div class="list_item"><a class="icon-circle jq-pinterest" href="#"><i class="fab fa-pinterest"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="mailto:cheese.design@msa.hinet.net"> <i class="far fa-envelope"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="../assets/javascripts/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../assets/javascripts/script.js"></script>
  </body>
</html>