<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="top">
          <h1 class="logo"><a href="" style="background: url(http://placeimg.com/100/160/fashion)"> </a></h1>
          <nav class="navbar">
            <div class="u_hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <ul class="nav">
              <li class="nav_item active"><a class="nav_link" href="./index.html">home </a></li>
              <li class="nav_item"><a class="nav_link" href="./about.html">about</a></li>
              <li class="nav_item"><a class="nav_link" href="./work.html">work</a></li>
              <li class="nav_item"><a class="nav_link" href="./service.html">service</a></li>
              <li class="nav_item"><a class="nav_link" href="./press.html">press</a></li>
              <li class="nav_item"><a class="nav_link" href="./contact.html">contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="bottom">
          <div class="list">
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-instagram"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-facebook-f"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-pinterest"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="far fa-envelope"></i></a></div>
          </div>
        </div>
      </div>
    </header>
    <main class="service">
      <div class="service_wrap container">
        <section class="serviceProcess">
          <div class="serviceProcess_wrap">
            <h2 class="title-section">流程簡介 PROCESS</h2>
            <div class="serviceProcess_content">
              <div class="block">
                <div class="step">
                  <h3 class="cn">初步規劃 </h3>
                  <h4 class="en">Programming </h4>
                </div>
                <div class="description-cn">
                  <p>了解空間現況與使用需求</p>
                  <p>設計流程與收費說明</p>
                </div>
                <div class="description-en">
                  <p>Conduct interviews and collect data on all requirements</p>
                  <p>Outline scope of project</p>
                </div>
              </div>
              <div class="block">
                <div class="step">
                  <h3 class="cn">初步規劃 </h3>
                  <h4 class="en">Programming </h4>
                </div>
                <div class="description-cn">
                  <p>了解空間現況與使用需求</p>
                  <p>設計流程與收費說明</p>
                </div>
                <div class="description-en">
                  <p>Conduct interviews and collect data on all requirements</p>
                  <p>Outline scope of project</p>
                </div>
              </div>
              <div class="block">
                <div class="step">
                  <h3 class="cn">初步規劃 </h3>
                  <h4 class="en">Programming </h4>
                </div>
                <div class="description-cn">
                  <p>了解空間現況與使用需求</p>
                  <p>設計流程與收費說明</p>
                </div>
                <div class="description-en">
                  <p>Conduct interviews and collect data on all requirements</p>
                  <p>Outline scope of project</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="servicePrice">
          <div class="servicePrice_wrap">
            <h2 class="title-section">費用說明 Price</h2>
            <h3 class="normal">[ 台灣收費標準 ]</h3>
            <div class="servicePrice_content">
              <div class="block">
                <div class="item">
                  <h3 class="cn">提案費用 </h3>
                  <h4 class="en">PROPOSAL FEE </h4>
                </div>
                <div class="description">
                  <p>丈量與提案（簽約後可折抵設計費）</p>
                  <p>*臺北地區外差旅費另計</p>
                  <p>*大坪數/複層費用另計</p>
                </div>
                <div class="price">
                  <p>NT$ 7,000 </p>
                </div>
              </div>
              <div class="block">
                <div class="item">
                  <h3 class="cn">提案費用 </h3>
                  <h4 class="en">PROPOSAL FEE </h4>
                </div>
                <div class="description">
                  <p>丈量與提案（簽約後可折抵設計費）</p>
                  <p>*臺北地區外差旅費另計</p>
                  <p>*大坪數/複層費用另計</p>
                </div>
                <div class="price">
                  <p>NT$ 7,000 </p>
                </div>
              </div>
              <div class="block">
                <div class="item">
                  <h3 class="cn">提案費用 </h3>
                  <h4 class="en">PROPOSAL FEE </h4>
                </div>
                <div class="description">
                  <p>丈量與提案（簽約後可折抵設計費）</p>
                  <p>*臺北地區外差旅費另計</p>
                  <p>*大坪數/複層費用另計</p>
                </div>
                <div class="price">
                  <p>NT$ 7,000 </p>
                </div>
              </div>
            </div>
            <p class="message"><strong>如有任何問題，歡迎填寫</strong><a href="">諮詢表格</a>。</p>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p class="footer_title">© Studio In2 深活生活設計有限公司</p>
        <div class="list">
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-instagram"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-facebook-f"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-pinterest"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="far fa-envelope"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="../assets/javascripts/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../assets/javascripts/script.js"></script>
  </body>
</html>