<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="top">
          <h1 class="logo"><a href="" style="background: url(http://placeimg.com/100/160/fashion)"> </a></h1>
          <nav class="navbar">
            <div class="u_hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <ul class="nav">
              <li class="nav_item active"><a class="nav_link" href="./index.html">home </a></li>
              <li class="nav_item"><a class="nav_link" href="./about.html">about</a></li>
              <li class="nav_item"><a class="nav_link" href="./work.html">work</a></li>
              <li class="nav_item"><a class="nav_link" href="./service.html">service</a></li>
              <li class="nav_item"><a class="nav_link" href="./press.html">press</a></li>
              <li class="nav_item"><a class="nav_link" href="./contact.html">contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="bottom">
          <div class="list">
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-instagram"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-facebook-f"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-pinterest"></i></a></div>
            <div class="list_item"><a class="icon-circle" href="#"> <i class="far fa-envelope"></i></a></div>
          </div>
        </div>
      </div>
    </header>
    <main class="work">
      <div class="work_wrap container">
        <section class="workShow">
          <div class="workShow_wrap"><a class="card" href="./details.html">
              <div class="card_img"><img src="http://placeimg.com/370/370/technics" alt=""/></div>
              <h3 class="card_title">DESIGN MOVEMENT ON CAMPUS - LAN-TIAN ELEMENTARY SCHOOL  </h3></a><a class="card" href="./details.html">
              <div class="card_img"><img src="http://placeimg.com/370/370/technics" alt=""/></div>
              <h3 class="card_title">DESIGN MOVEMENT ON CAMPUS - LAN-TIAN ELEMENTARY SCHOOL  </h3></a><a class="card" href="./details.html">
              <div class="card_img"><img src="http://placeimg.com/370/370/technics" alt=""/></div>
              <h3 class="card_title">DESIGN MOVEMENT ON CAMPUS - LAN-TIAN ELEMENTARY SCHOOL  </h3></a></div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p class="footer_title">© Studio In2 深活生活設計有限公司</p>
        <div class="list">
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-instagram"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-facebook-f"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="fab fa-pinterest"></i></a></div>
          <div class="list_item"><a class="icon-circle" href="#"> <i class="far fa-envelope"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="../assets/javascripts/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../assets/javascripts/script.js"></script>
  </body>
</html>