
<header class="header">
  <div class="header_wrap">
    <div class="header_topBar">
      <div class="header_topBar-top"><a class="web-link" href=""> <span>炭火燒三明治</span><img src="../../assets/images/logo/footer-logo.png" alt=""/></a>
        <div class="social-ink"><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/fb-icon.svg" alt=""/></a><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/ig-icon.svg" alt=""/></a><a class="social-ink_btn" href=""><img src="../../assets/images/icon/header/yt-icon.svg" alt=""/></a></div>
      </div>
      <div class="header_topBar-bottom"><a class="join-link" href=""> <img class="flag" src="../../assets/images/icon/header/flag.png" alt=""/><span class="mob-join-link"><i class="fas fa-store"></i>加盟</span></a></div>
    </div>
  </div>
  <div class="header_logo">
    <h1><a class="header_logo_link" href="../index/index.html" style="background: url(../../assets/images/logo/logo.png)">喜得炭火三明治</a></h1>
  </div>
  <nav class="header_nav">
    <ul class="nav">
      <li class="nav_item"><a class="color-border-primary" href="../about/about.html"><i class="fas fa-user"></i>關於我們</a></li>
      <li class="nav_item"><a class="color-border-secondary" href="../menu/menu.html"> <i class="fas fa-utensils"></i>最新菜單</a></li>
      <li class="nav_item"><a class="color-border-success" href="../news/news.html"><i class="fas fa-rss"></i>最新消息</a></li>
      <li class="nav_item"><a class="color-border-primary" href="../location/location.html"> <i class="fas fa-map-marker-alt"></i>服務據點</a></li>
      <li class="nav_item"><a class="color-border-secondary" href="../contact/contact.html"> <i class="fas fa-comments"></i>聯絡我們</a></li>
    </ul>
  </nav>
</header>