<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>郡都建設</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.1/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/style.css"/>
  </head>
  <body>
    <header class="bg-transparent position-absolute w-100">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark p-0"><a class="navbar-brand d-none" href="#"> <img class="header-logo" src="../../assets/images/icon/logo.svg" alt=""/>
            <h1>郡都建設</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse ml-auto d-flex" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto"><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../about/about.html"><span>About</span><span>關於郡都</span></a><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../news/news.html"><span>News</span><span>最新消息</span></a><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../case/case.html"><span>Showcase</span><span>郡都熱銷</span></a><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../old/old.html"><span>Collection</span><span>郡都典藏</span></a><a class="nav-link text-white d-flex flex-column align-items-center pl-20 py-30" href="../contact/contact.html"><span>Contact</span><span>聯絡我們</span></a></div>
          </div>
        </nav>
      </div>
      <div class="sidebar position-absolute vh-100">
        <ul class="nav flex-column align-items-center">
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="https://www.facebook.com/JUDOGROUP"> <i class="fab fa-facebook-f"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"> <i class="fab fa-instagram"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"> <i class="fab fa-twitter"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
      <div class="brand-logo d-flex align-items-center"><a class="logo" href="../index/index.html"><img src="../../assets/images/icon/logo.svg" alt=""/></a>
        <h1 class="title">郡都建設</h1>
      </div>
    </header>
    <footer class="footer">
      <div class="container py-40 py-md-80">
        <div class="footer_logo mb-50">
          <div class="img d-flex justify-content-center align-items-center mx-auto mb-30"><img src="../../assets/images/icon/logo.svg" alt=""/></div>
          <h4 class="h4 name text-center text-white">郡都建設股份有限公司</h4>
        </div>
        <div class="row mb-40">
          <div class="col-0 col-md-1"></div>
          <div class="col-12 col-md-5 border-right border-primary">
            <ul class="footer-list d-flex flex-wrap p-0 mb-10 ml-md-50">
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">關於郡都</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">最新消息</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">郡都案例</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">執行團隊</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">聯絡我們</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">郡都粉絲團 </a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <ul class="footer-contact-list p-0 pl-md-40 d-flex flex-wrap">
              <li class="footer-list_item"><em class="mr-12 fz-13">電話</em><a class="fz-13 text-white" href="tel:07-301-1153">07-301-1153</a></li>
              <li class="footer-list_item mr-20"><em class="mr-12 fz-13">傳真</em><a class="fz-13 text-white" href="tel:07-301-1153">07-301-1153</a></li>
              <li class="footer-list_item"><em class="mr-12 fz-13">地址</em><a class="fz-13 text-white" href="https://www.google.com/maps/dir/25.0249216,121.0712064/22.72568,120.29918/@23.858435,119.6060089,8z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0">高雄市楠梓區壽豐路286號</a></li>
              <li class="footer-list_item"><a class="fz-13 text-white" href="../contact/contact.html">聯絡我們</a></li>
            </ul>
          </div>
        </div>
        <h6 class="text-center fz-12">郡都建設股份有限公司 Copyrights ©<span id="year">2020</span> All Rights Reserved.</h6>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.1/swiper-bundle.min.js"></script>
    <script src="../../assets/javascripts/vendors.js"></script>
    <script src="../../assets/javascripts/script.js"></script>
  </body>
</html>