<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>郡都建設</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.1/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/style.css"/>
  </head>
  <body>
    <header class="bg-transparent position-absolute w-100">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark p-0"><a class="navbar-brand d-none" href="#"> <img class="header-logo" src="../../assets/images/icon/logo.svg" alt=""/>
            <h1>郡都建設</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse ml-auto d-flex" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto"><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../about/about.html"><span>About</span><span>關於郡都</span></a><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../news/news.html"><span>News</span><span>最新消息</span></a><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../case/case.html"><span>Showcase</span><span>郡都熱銷</span></a><a class="nav-link text-white d-flex flex-column align-items-center px-20 py-30" href="../old/old.html"><span>Collection</span><span>郡都典藏</span></a><a class="nav-link text-white d-flex flex-column align-items-center pl-20 py-30" href="../contact/contact.html"><span>Contact</span><span>聯絡我們</span></a></div>
          </div>
        </nav>
      </div>
      <div class="sidebar position-absolute vh-100">
        <ul class="nav flex-column align-items-center">
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="https://www.facebook.com/JUDOGROUP"> <i class="fab fa-facebook-f"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"> <i class="fab fa-instagram"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"> <i class="fab fa-twitter"></i></a></li>
          <li class="nav-item"><a class="nav-link d-flex align-items-center justify-content-center" href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
      <div class="brand-logo d-flex align-items-center"><a class="logo" href="../index/index.html"><img src="../../assets/images/icon/logo.svg" alt=""/></a>
        <h1 class="title">郡都建設</h1>
      </div>
    </header>
    <main class="news">
      <section class="section_banner">
        <div class="container-fluid p-0 position-relative">
          <picture>
            <source srcset="../../assets/images/index/banner3.png" media="(max-width: 768px)"/><img class="w-100" src="../../assets/images/index/banner3.png" alt="My default image"/>
          </picture>
          <div class="banner_body container text-right position-absolute">
            <h2 class="banner_title text-white">News</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent d-flex justify-content-end">
                <li class="breadcrumb-item fz-13"><a class="text-white fz-13" href="../index/index.html">首頁</a></li>
                <li class="breadcrumb-item fz-13 text-white active" aria-current="page">最新消息</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section>
        <div class="container py-40 py-md-80">
          <div class="section-title text-center pb-20 mb-40 border-bottom border-primary h4 font-weight-bolder"><span class="mx-12">消</span><span class="mx-12">息</span><span class="mx-12 text-primary">一</span><span class="mx-12 text-primary">覽</span>
            <div class="section-logo"><img src="../../assets/images/icon/logo.svg" alt=""/></div>
          </div>
          <div class="row d-flex justify-content-center mb-40"><a class="px-40 py-8 mb-10 mb-xs-0 mx-4 new-btn active" href="#">所有消息</a><a class="px-40 py-8 mb-10 mb-xs-0 mx-4 new-btn" href="#">活動消息</a><a class="px-40 py-8 mb-10 mb-xs-0 mx-4 new-btn" href="#">新聞報導</a></div>
          <div class="row list">
            <div class="col-xs-12 col-sm-6 col-md-4 mb-30"><a href="./newsDetails.html">
                <div class="card border-0"><img class="card-img rounded-0" src="../../assets/images/news/new1.jpg" alt="..."/>
                  <div class="block">
                    <h5 class="card-title text-white">郡都全新建案</h5>
                    <p class="fz-12 card-text text-white">2020-12-12</p>
                  </div>
                </div></a></div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-30"><a href="./newsDetails.html">
                <div class="card border-0"><img class="card-img rounded-0" src="../../assets/images/news/new1.jpg" alt="..."/>
                  <div class="block">
                    <h5 class="card-title text-white">郡都全新建案</h5>
                    <p class="fz-12 card-text text-white">2020-12-12</p>
                  </div>
                </div></a></div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-30"><a href="./newsDetails.html">
                <div class="card border-0"><img class="card-img rounded-0" src="../../assets/images/news/new1.jpg" alt="..."/>
                  <div class="block">
                    <h5 class="card-title text-white">郡都全新建案</h5>
                    <p class="fz-12 card-text text-white">2020-12-12</p>
                  </div>
                </div></a></div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-30"><a href="./newsDetails.html">
                <div class="card border-0"><img class="card-img rounded-0" src="../../assets/images/news/new1.jpg" alt="..."/>
                  <div class="block">
                    <h5 class="card-title text-white">郡都全新建案</h5>
                    <p class="fz-12 card-text text-white">2020-12-12</p>
                  </div>
                </div></a></div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-30"><a href="./newsDetails.html">
                <div class="card border-0"><img class="card-img rounded-0" src="../../assets/images/news/new1.jpg" alt="..."/>
                  <div class="block">
                    <h5 class="card-title text-white">郡都全新建案</h5>
                    <p class="fz-12 card-text text-white">2020-12-12</p>
                  </div>
                </div></a></div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container py-40 py-md-80">
        <div class="footer_logo mb-50">
          <div class="img d-flex justify-content-center align-items-center mx-auto mb-30"><img src="../../assets/images/icon/logo.svg" alt=""/></div>
          <h4 class="h4 name text-center text-white">郡都建設股份有限公司</h4>
        </div>
        <div class="row mb-40">
          <div class="col-0 col-md-1"></div>
          <div class="col-12 col-md-5 border-right border-primary">
            <ul class="footer-list d-flex flex-wrap p-0 mb-10 ml-md-50">
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">關於郡都</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">最新消息</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">郡都案例</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">執行團隊</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">聯絡我們</a></li>
              <li class="footer-list_item"><a class="text-white fz-13 mr-26" href="">郡都粉絲團 </a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <ul class="footer-contact-list p-0 pl-md-40 d-flex flex-wrap">
              <li class="footer-list_item"><em class="mr-12 fz-13">電話</em><a class="fz-13 text-white" href="tel:07-301-1153">07-301-1153</a></li>
              <li class="footer-list_item mr-20"><em class="mr-12 fz-13">傳真</em><a class="fz-13 text-white" href="tel:07-301-1153">07-301-1153</a></li>
              <li class="footer-list_item"><em class="mr-12 fz-13">地址</em><a class="fz-13 text-white" href="https://www.google.com/maps/dir/25.0249216,121.0712064/22.72568,120.29918/@23.858435,119.6060089,8z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0">高雄市楠梓區壽豐路286號</a></li>
              <li class="footer-list_item"><a class="fz-13 text-white" href="../contact/contact.html">聯絡我們</a></li>
            </ul>
          </div>
        </div>
        <h6 class="text-center fz-12">郡都建設股份有限公司 Copyrights ©<span id="year">2020</span> All Rights Reserved.</h6>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.1/swiper-bundle.min.js"></script>
    <script src="../../assets/javascripts/vendors.js"></script>
    <script src="../../assets/javascripts/script.js"></script>
  </body>
</html>